django
djangorestframework
django-cors-headers
django-rest-swagger
psycopg2 # postgresql adapter
asyncio
django-environ
psycopg2-binary
drf-yasg
elasticsearch
elasticsearch[async]
django_elasticsearch_dsl